.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5.5rem 0;

    @include tablet {
      grid-template-columns: unset;
    }
  }
}
